<div class="d-flex justify-content-around">
    <div>
        <h2>For Donnate Food </h2>
        <a class="btn btn-success" href="/Request/RequestView">See Restaurant Food Pick up Request....!</a>
    </div>
    <div>
        <img width="400" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE22Ag_VQOOncxN5i1DDj_GtdGt_8xTowDOw&usqp=CAU" />
    </div>
</div>