
@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="d-flex justify-content-around">
    <div>
        <h2>Restaurant </h2>
        <a class="btn btn-success" href="/Request/Index">Send Food Pick up Request....!</a>
    </div>
    <div>
        <img width="400" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSevu8KthNFbwj-4v8Z-mUqNrIiLmtlxRzMiQ&usqp=CAU" />
    </div>
</div>
