
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-around">
<div>
    <h2>FOR DONATING FOOD  </h2>
  <a class="btn btn-success" href="/Registration/RestaurantRegistration">REGISTER YOUR RESTAURANT NOW....!</a>
</div>
<div>
    <img width="400" src="https://www.shutterstock.com/image-vector/vector-set-posters-international-volunteer-260nw-1883389567.jpg" />
</div>
</div>

<div class="d-flex justify-content-around">
    <div>
        <img width="400" src="https://www.shutterstock.com/image-vector/people-donating-food-clothes-money-260nw-2221692299.jpg" />
    </div>
    <div>
        <h2>TO BECAME A VOLUNTEER </h2>
        <a class="btn btn-success" href="/Registration/EmployeeRegistration">REGISTER AS A VOLUNTEER NOW....!</a>
    </div>

</div>